<html>
    <head>
        <title>Product App</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="navbar">

        </div>
        <div id="app">
            <div class="product flex">
                <div class="product-image">
                    <img v-bind:src="image"alt="Socks Image">
                </div>
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>
                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>
                    <div v-for="variant in variants"
                         :key="variant.variantId"
                         class="color-box"
                         :style="{ backgroundColor: variant.variantColor }"
                         @mouseover="updateProduct(variant.variantImage)">
                    </div>
                    <div class="flex buttons-container">
                      <button @click="addToCart"
                              :class="{ disabledButton: !inStock }"
                              :disabled="!inStock">Add to Cart</button>
                      <button @click="removeFromCart"
                              :class="{ disabledButton: cart == 0 }"
                              :disabled="cart == 0"
                      >Remove from Cart</button>

                    </div>
                    <div class="cart">
                        <p>Cart ({{ cart }})</p>
                    </div>

                </div>
            </div>

        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="main.js"></script>
    </body>
</html>
